@import "../../App.scss";

.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $clr-white;
    z-index: 1000;
    padding: 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateX(100%);
    transition: $transition;

    &-visible{
        transform: translateX(0);
    }

    .navbar-hide-btn{
        position: absolute;
        right: 14px;
        color: $clr-orange;
        transition: $transition;

        &:hover{
            color: $clr-dark;
        }
    }

    .side-content{
        .side-nav{
            margin-top: 4rem;
            .side-item{
                padding: 6px 0;
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.06);

                .side-link{
                    opacity: 0.9;
                    transition: $transition;
                    &:hover{
                        color: $clr-orange;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 576px){
        width: 280px;
    }
}